<mat-card>
  <mat-card-header>
    <mat-card-title>Search for GitHub Users</mat-card-title>
    <mat-card-subtitle>Enter the search in the Input below and hit search</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-search-form (searchSubmittedEvent)="githubUserSearchSubmitted($event)"></app-search-form>
    <app-loading-indicator *ngIf="loading$ | async" title="Loading GitHub User Search Results..."></app-loading-indicator>
    <app-error *ngIf="error$ | async" title="Error retrieving GitHub User Search" [errors]="error$ | async"></app-error>
    <app-github-user-search-results
      [response]="data$ | async"
      (nextPageEventEmitter)="getNextPageResults($event)"
      (prevPageEventEmitter)="getPrevPageResults($event)"
      *ngIf="!(loading$ | async) && !(error$ | async)"
    ></app-github-user-search-results>
  </mat-card-content>
</mat-card>
