<div class="search-results-paginator">
  <span>
    <button
      mat-icon-button
      color="primary"
      [disabled]="!pageInfo.hasPreviousPage"
      (click)="onGetPrevPage(pageInfo.startCursor)"
      matTooltip="Get Previous Page of User Search Results"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </span>
  <span>
    <button
      mat-icon-button
      color="primary"
      [disabled]="!pageInfo.hasNextPage"
      (click)="onGetNextPage(pageInfo.endCursor)"
      matTooltip="Get Next Page of User Search Results"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </span>
</div>
